<%- include('partials/header.ejs') %>

<div class="todo-list">
    <form action="/add-item" method="POST">
    <% if (locals.items) { %>
        <ul>
     <% for( let i = 0; i < items.length; i++ ) { %>
        <li>
            <label for="item<%= i %>" class="label"><%= items[i] %></label>
            <input type="checkbox" id="item<%= i %>" class="checkbox">
        </li>
        <script>
            document.getElementById("item<%= i %>").addEventListener("change", function () {
                const $label = document.querySelector('label[for="item<%= i %>"]');
                if (this.checked) {
                    $label.classList.add("strikeout");
                } else {
                    $label.classList.remove("strikeout");
                }
            });
        </script>
     <% } %>
    </ul>
    <% } %>
    <div class="form-input">
        <input type="text" name="item" id="new-item" placeholder="New Item" required>
        <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
        </button>
    </div>
    </form>
</div>

<%- include('partials/footer.ejs') %>